<!DOCTYPE html>
<html 
	ng-app="app"
    md-theme="{{app.setting.theme || 'default'}}" 
    md-theme-watch
    ng-class="{'mb-rtl-direction': app.dir=='rtl', 'mb-ltr-direction': app.dir!='rtl'}"
    dir="{{app.dir}}">
    <head>
        <meta charset="utf-8">
        <title>Angular Material Dashboard</title>
        <meta name="description" content="Angular admin dashboard with material design">
        <meta name="author" content="flatlogic.com">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!--  Tells to crawler that do not index this page and do not follow its links -->
        <meta name="robots" content="noindex, nofollow">
        
        <!--  injector:base -->
        <base href="/" >
        <!--  endinjector  -->
        
        <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <link rel="stylesheet" href="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.css" />
        <link rel="stylesheet" href="bower_components/material-steppers/dist/material-steppers.css" />
        <link rel="stylesheet" href="bower_components/jspanel4x/dist/jspanel.css" />
        <link rel="stylesheet" href="bower_components/md-color-picker/dist/md-color-picker.css" />
        <link rel="stylesheet" href="bower_components/mblowfish-core/dist/mblowfish-core.css" />
        <!-- endbower -->
        <!-- endbuild -->
        
        <!-- build:css({.tmp/serve,src}) styles/app.css -->
        <!-- injector:css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/test-preloader.css">
        <!-- endinjector -->
        <!-- endbuild -->
        
        
        <!-- build:js(src) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-aria/angular-aria.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-material/angular-material.js"></script>
        <script src="bower_components/lodash/lodash.js"></script>
        <script src="bower_components/mustache.js/mustache.js"></script>
        <script src="bower_components/seen-core/dist/seen-core.js"></script>
        <script src="bower_components/seen-user/dist/seen-user.js"></script>
        <script src="bower_components/seen-bank/dist/seen-bank.js"></script>
        <script src="bower_components/seen-tenant/dist/seen-tenant.js"></script>
        <script src="bower_components/seen-cms/dist/seen-cms.js"></script>
        <script src="bower_components/seen-monitor/dist/seen-monitor.js"></script>
        <script src="bower_components/flux/dist/Flux.js"></script>
        <script src="bower_components/am-wb-core/dist/am-wb-core.js"></script>
        <script src="bower_components/ng-appcache/dist/appcache.js"></script>
        <script src="bower_components/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>
        <script src="bower_components/angular-recaptcha/release/angular-recaptcha.js"></script>
        <script src="bower_components/blob-polyfill/Blob.js"></script>
        <script src="bower_components/file-saver.js/FileSaver.js"></script>
        <script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>
        <script src="bower_components/material-steppers/dist/material-steppers.js"></script>
        <script src="bower_components/angular-material-persian-datepicker/dist/datePicker.min.js"></script>
        <script src="bower_components/jspanel4x/dist/jspanel.js"></script>
        <script src="bower_components/tinymce/tinymce.js"></script>
        <script src="bower_components/tinycolor/tinycolor.js"></script>
        <script src="bower_components/md-color-picker/dist/md-color-picker.js"></script>
        <script src="bower_components/angular-translate/angular-translate.js"></script>
        <script src="bower_components/weakmap-polyfill/weakmap-polyfill.js"></script>
        <script src="bower_components/ngstorage/ngStorage.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/moment-jalaali/build/moment-jalaali.js"></script>
        <script src="bower_components/loglevel/dist/loglevel.min.js"></script>
        <script src="bower_components/mblowfish-core/dist/mblowfish-core.js"></script>
        <script src="bower_components/angular-mocks/angular-mocks.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        
        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <!-- injector:js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/configs/icons.js"></script>
        <script src="scripts/configs/states.js"></script>
        <script src="scripts/controllers/abstract-dashboard.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <script src="scripts/runs/dashboard-init.js"></script>
        <script src="scripts/test-app.js"></script>
        <script src="scripts/test-configs/language.js"></script>
        <script src="scripts/test-configs/path.js"></script>
        <script src="scripts/test-configs/storage.js"></script>
        <script src="scripts/test-controller/monitors.js"></script>
        <script src="scripts/test-controller/resources.js"></script>
        <script src="scripts/test-runs/test-app.js"></script>
        <!-- endinjector -->
        <!-- endbuild -->
        
    </head>
    <body mb-view>
    </body>
</html>
