<div  
	ng-controller="AmdAccountsCtrl as ctrl"
	ng-init="ctrl.setDataQuery('{id, is_active, date_joined, last_login, profiles{first_name,last_name}}')"
	mb-preloading="ctrl.loading"
	layout="column"
	flex>
	<!-- Action bar -->
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getSortKeys()"
		mb-more-actions="ctrl.getMoreActions()">
	</mb-pagination-bar>
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list flex>
			<md-list-item 
				ng-repeat="user in ctrl.items track by user.id"
				ng-click="multi || resourceCtrl.setSelected(user)"
				class="md-3-line">
				<img 
					ng-src="/api/v2/user/accounts/{{user.id}}/avatar" 
					class="md-avatar"/>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{user.profiles[0].first_name}} - {{user.profiles[0].last_name}}</h3>
					<h4>
						<span ng-show="user.active">
							<span translate="">Active</span>,
						</span>
						<span ng-hide="user.active">
							<span translate="">Inactive</span>,
						</span>
					</h4>
					<p>
						<span translate="">Joined</span>: {{user.date_joined}},
						<span translate="">Last Login</span>: {{user.last_login}},
					</p>
				</div>
				<md-checkbox 
					ng-if="multi"
					class="md-secondary"
					ng-init="user.selected = resourceCtrl.isSelected(user)" 
					ng-model="user.selected"
					ng-change="resourceCtrl.setSelected(user, user.selected)">
				</md-checkbox>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-list>
		<div
			layout="column"
			layout-align="center center"
			ng-if="ctrl.state === 'ideal' &&(!ctrl.items || ctrl.items.length == 0)">
			<h2 translate="">No item found</h2>
		</div>
	</md-content>
</div>
