<div 
	flex 
	layout="column"
	ng-init=""
	ng-controller="AmdRolesCtrl as ctrl">
	<!-- Action bar -->
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getProperties()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
		<md-list flex>
			<md-list-item 
				ng-repeat="role in ctrl.items track by role.id"
				ng-click="multi || resourceCtrl.selectRole(role)"
				class="md-3-line">
				<wb-icon>accessibility</wb-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{role.name}}</h3>
					<p>{{role.description}}</p>
				</div>
				<md-checkbox class="md-secondary"
					ng-init="role.selected = resourceCtrl.isSelected(role)" 
					ng-model="role.selected"
					ng-click="resourceCtrl.setSelected(role, role.selected)">
				</md-checkbox>
				<md-divider md-inset></md-divider>
			</md-list-item>
		</md-list>
		<div
			layout="column"
			layout-align="center center"
			ng-if="ctrl.state === 'ideal' &&(!ctrl.items || ctrl.items.length == 0)">
			<h2>Empty role list</h2>
			<p>There is no role match with the query</p>
		</div>
	</md-content>
</div>
