<div 
	ng-controller="AmdGroupsCtrl as ctrl"
	ng-init=""
	layout="column"
	flex>
	<!-- Action bar -->
	<mb-pagination-bar
		mb-model="ctrl.queryParameter"
		mb-reload="ctrl.reload()"
		mb-sort-keys="ctrl.getProperties()"
		mb-more-actions="ctrl.getActions()">
	</mb-pagination-bar>
	
	<md-content
		mb-infinate-scroll="ctrl.loadNextPage()"
		layout="column"
		flex>
	
		<md-list flex>
			<md-list-item 
				ng-repeat="group in ctrl.items track by group.id"
				ng-click="multi || resourceCtrl.setSelected(group)"
				class="md-3-line">
				<wb-icon>group</wb-icon>
				<div 
					class="md-list-item-text" 
					layout="column">
					<h3>{{group.name}}</h3>
					<h4></h4>
					<p>{{group.description}}</p>
				</div>
				<md-checkbox 
					ng-if="multi"
					class="md-secondary"
					ng-init="group.selected = resourceCtrl.isSelected(group)" 
					ng-model="group.selected"
					ng-click="resourceCtrl.setSelected(group, group.selected)">
				</md-checkbox>
				<md-divider md-inset></md-divider>
			</md-list-item>
			<!-- حالت لود را تعیین می‌کند. -->
		</md-list>
		<div
			layout="column"
			layout-align="center center"
			ng-if="ctrl.state === 'ideal' &&(!ctrl.items || ctrl.items.length == 0)">
			<h2 translate="">No item found</h2>
		</div>
	</md-content>
</div>
